{% set route = app.request.attributes.get('_route') %} {% set session = app.session %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <!-- Recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    

    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> #} 

    {# <link rel="stylesheet" href="css/style.css"> #}
    {# <title>{% block title %}{% endblock %}</title> #}
	<link rel="icon" href="{{ asset('images/logo3dark.ico') }}" />
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"> 
	<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	
	 {% block stylesheets %} {% endblock %}

     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header>

<!--
    HEADER
-->
<header id="main_header">
        <div class="main_header_content row">
            <div class="col-4">
                <a id="btn_menu"><i class="fas fa-bars"></i><i class="hide fas fa-times"></i></a>
            </div>
            <div class="col-8 col-md-4 logo_container">
                <a class="logo" href="{{ path('home') }}">L'Yonne en 3D</a>
            </div>
                {# Si pas de session de connecté on affiche #}

                {% if app.session.get('account') is null %}

            <div class="col-md-4 login_container text-right">
                    <a type="button" class="btn btn-primary"  href="{{ path('register') }}">S'inscrire</a>
                    <a type="button" class="btn btn-secondary"  href="{{ path('api_login') }}">Connexion</a>
                </div>

                {# sinon on affiche: #}

                {% else %}

                <div class="col-md-4 login_container text-right">
                        <a type="button" class="btn btn-primary"  href="{{ path('profile') }}">Mon compte</a>
                        <a type="button" class="btn btn-secondary"  href="{{ path('api_logout') }}">Deconnexion</a>
                        <a type="button" class="btn btn-secondary"  href="{{ path('api_upload') }}">upload</a>
                    </div>
                {% endif %}
            </div>
        </header>

        <!--MODAL LOGIN-->
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="login_modal_label">Connexion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form class="sign_form a4">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Adresse mail">
                                </div>
                                <div class="form-group col-md-6">
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Mot de passe">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    se souvenir de moi
                                </label>
                                </div>
                            </div>
                            <button type="submit" class="btn butn">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </div> -->

        <!-- MODAL ITEM -->
    <div class="modal fade" id="item_modal" tabindex="-1" role="dialog" aria-labelledby="item_modal_label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="item_modal_label">Paul Bert</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                        <img src="img/monuments/paul-bert.jpg" alt="statue de paul">
                        </div>
                        <div class="col-12 col-md-6 pl-5">
                            <p>La statue de Paul Bert ou Monument à Paul Bert est une statue représentant Paul Bert érigée sur le Pont Paul-Bert à Auxerre dans l'Yonne en France. Elle est inaugurée le 7 juillet 1889 et a vu sa construction financée par une souscription nationale. Son sculpteur est Émile Peynot, son fondeur est Jaboeuf (de la société Jaboeuf et Bezout) et son architecte est Victor-Auguste Blavette.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Télécharger</button>
                </div>
              </div>
            </div>
          </div>
    

    <!--Menu de navigation latéral-->

    <div class="main_menu">
        <nav>
            <ul>
                <li><a class="active"  href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('galerie') }}">Galerie</a></li>
                <li><a href="{{ path('about') }}">Comment ça marche?</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </div>




{% block body %}{% endblock %}





 <!--FOOTER-->
 <footer id="main_footer">
        <div class="main_footer_content row">
            <div class="col-12 col-md-4 mb-4 menu text-center">
                <h3>Menu</h3>
                <ul>
                        <li><a class="active" {% if route == 'home' %}active{% endif %}  href="{{ path('home') }}">Accueil</a></li>
                        <li><a {% if route == 'about' %}active{% endif %}href="{{ path('galerie') }}">Galerie</a></li>
                        <li><a {% if route == 'about' %}active{% endif %} href="{{ path('about') }}">Comment ça marche?</a></li>
                        <li><a {% if route == 'contact' %}active{% endif %} href="{{ path('contact') }}">Contact</a></li>
                        <li><a {% if route == 'mentionslegales' %}active{% endif %} href="{{ path('mentionslegales') }}">Mentions légales</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-4 contact text-center">
                <h3>Nous contacter</h3>
                <p>Nom de l'assoc</p>
                <p>Adresse</p>
                <p>00000 Auxerre</p>
            </div>
            <div class="col-12 col-md-4 mb-4 reseaux text-center">
                <h3>Suivez-nous !</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
<!--COPY-->
        <div class="col-12 copyr">
            <p>&copy; 2018 - L'Yonne en 3D</p>
        </div>
    </footer>

</main>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js"></script>

	{# <script>
		var main_url = "{{ absolute_url(path('home')) }}";
		var asset_dir = "{{ absolute_url(asset('/')) }}";
	</script> #}
	{# <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/app.js') }}"></script> #}
	
	
	{# <script src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js"></script> #}
	{% block javascripts %}

    {# <script>
		var main_url = "{{ absolute_url(path('home')) }}";
		var asset_dir = "{{ absolute_url(asset('/')) }}";
	</script> #}

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/app.js') }}"></script>
     {% endblock %}
</body>

</html>
